*, *:before, *:after {
    border: 0;
    padding: 0;
    margin: 0;

    @include setProperty(box-sizing, border-box);
}

html, body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

label {
    display: block;
}

blockquote, q {
    quotes: none;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

address {
    font-style: normal;
}

button {
    cursor: pointer;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

input, button {
    border: none;
    outline: none;
}

textarea {
    resize: none;
}

img,
video,
audio {
	height: auto;
    max-width: 100%;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}