
/* Base Colors */

$color__primary: #213138;
$color__secondary: #97c65a;
$color__tertiary: #f7c63d;
$color__fourth: #e88400;
$color__five: #64818e;
$color__six:#5d8b22;
$color_seven:#a8b4ba;


/* Warning Colors */

$color__error: '';
$color__success: '';

/* Media Query Breakpoints */

$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;

$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;

$screen-md:                  992px;
$screen-md-min:              $screen-md;

$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;

$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

