body{
    background-color:#fdfdfd;
    overflow-x: hidden;
}

.md-slide-mu{
    
    .md-box-options{
        padding: 20px;
        background-color:#fff;
        border:solid 1px #e5e5e5;
        border-radius: 8px;
        max-width: 100%;
        float: left;
        font-size: 14px;
        margin:0 20px;
        color:#000;
    }
    
    .slick-dots{
        bottom: -35px;
        
        li{
            background-color:#d0cfcf;
            border-radius: 50px;
            width: 8px;
            height: 8px;
            
            button{
                &:before{
                    content: '';
                }
            }
            
        }
        
        .slick-active{
            background-color:#000;
            border-radius: 50px;
            width: 8px;
            height: 8px;
            
            button{
                &:before{
                    content: '';
                }
            }
            
        }
    }
}

.md-functions{    
    h3{
        font-size: 30px;
        margin: 30px 0;
    }
}

.md-my-indicators{    
    h3{
        font-size: 30px;
        display: block;
        margin: 30px 0;
    }
    
    .md-performance{
        background-color:#fafafa;
        border:solid 2px #f2f3f4;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
    }
}

.md-informations{
    background-color:#fff;
    margin: -10px -5px 20px -5px ;
    padding: 0px 20px;    
    
    .md-informations-content{
        border:solid 2px #f2f3f4;
        padding: 20px 15px;
        display: block;
        position: relative;
        border-radius: 8px;
        padding: 20px 0;
    }
    
    .md-title-info{
        margin-bottom: 15px;
    }
    
}

.md-box-p-on-time{
    background-color:#68c39f;
    color:#fff;
    padding: 30px 20px;
    margin-bottom: 40px;
    border:solid 3px #f2f3f4;
    
    h3{
        font-size: 30px;
        font-weight: 100;
        margin: 20px 0 0 0;
    }
    
    .md-icon{
        float: right;
        margin-top: -60px;
        font-size: 50px;
    }
}

.md-box-p-out-time{
    background-color:#d9534f;
    color:#fff;
    padding: 30px 20px;
    margin-bottom: 40px;
    border:solid 3px #f2f3f4;
    
    h3{
        font-size: 30px;
        font-weight: 100;
        margin: 20px 0 0 0;
    }
    
    .md-icon{
        float: right;
        margin-top: -60px;
        font-size: 50px;
    }
}

.md-box-i-on-time{
    background-color:#4393d8;
    color:#fff;
    padding: 30px 20px;
    margin-bottom: 0px;
    border:solid 3px #f2f3f4;
    
    h3{
        font-size: 30px;
        font-weight: 100;
        margin: 20px 0 0 0;
    }
    
    .md-icon{
        float: right;
        margin-top: -60px;
        font-size: 50px;
    }
}